// ----------------------------------------------
// Global styles
// ----------------------------------------------

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/icons.eot);
    src: url(../fonts/icons.eot?#iefix) format("embedded-opentype"),
         url(../fonts/icons.woff) format("woff"),
         url(../fonts/icons.ttf) format("truetype");
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

[aria-live] {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    position: absolute;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

[class^=button-] {
    display: inline-block;
    background: 0 0;
    border-width: 0;
    outline-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}

[class^=button-action] {
    position: relative;
    color: $color-white;
    background-color: $color-button-bg;
    font-size: em(11px);
    line-height: em(32px);
    text-transform: uppercase;
    @include transition-property(background);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(.3s);

    &:focus,
    &[disabled] {
        background-color: $color-button-disabled-bg;
        &:before {
            background-repeat: repeat-x;
            background-size: auto 3px;
        }
    }
}

