[role=banner] {
  position: fixed;
  width: $header-width;
  background-color: $color-header-background;
  border-bottom: $header-border-bottom-size solid $color-header-border;
  overflow: hidden;
  z-index: $zindex-header;

  h1 {
    display: table;
    margin: 0;
    float: left;
    background-color: $color-white;
    padding: $logo-padding;

    a {
      position: relative;
      display: block;
      width: $logo-width;
      height: $logo-height;
      text-indent: -9999px;
      background: url(../images/logo.png);
    }
  }

  .apps {
    position: absolute;
    top: 10px;
    right: 0;

    ul {
      margin: 0;

      li {
        float: left;
        list-style: none;
        margin-right: 10px;

        a {
          position: relative;
          display: block;
          width: 178px;
          height: 60px;
          text-indent: -9999px;
        }
      }

      .googleplay {
        a {
          background-image: url(../images/googleplay.png);
        }
      }

      .appstore {
        a {
          background-image: url(../images/appstore.png);
        }
      }
    }
  }

  &:after {
    @include clearfix;
  }
}

@media (max-width: $screen-sm-min) {
  [role=banner] {
    .apps {
      display: none;
    }
  }
}