[role=banner] {
  position: fixed;
  width: $header-width;
  height: $header-height;
  background-color: $color-header-background;
  border-bottom: $header-border-bottom-size solid $color-header-border;
  overflow: hidden;
  z-index: $zindex-header;
  background-image: url(../images/headerbg.png);

  h1 {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    z-index: $zindex-logo;

    a {
      position: relative;
      display: block;
      margin-left: -($logo-width/2);
      background-color: $color-header-background;
      padding: 0 10px;

      img {
        width: $logo-width;
      }
    }
  }

  .apps {
    position: absolute;
    top: $nav-apps-top-position;
    right: $nav-apps-right-position;

    ul {
      margin: 0;

      li {
        float: left;
        list-style: none;
        margin-right: $nav-apps-margin-right;

        a {
          position: relative;
          display: block;
          width: $nav-apps-item-width;
          height: $nav-apps-item-height;
          text-indent: $text-indent;
        }
      }

      .googleplay {
        a {
          background-image: url(../images/googleplay.png);
        }
      }

      .appstore {
        a {
          background-image: url(../images/appstore.png);
        }
      }
    }
  }

  &:after {
    @include clearfix;
  }
}

@media (max-width: $screen-sm-min) {
  [role=banner] {
    .apps {
      display: none;
    }
  }
}