[role=navigation] {

  position: absolute;
  left: $nav-left;
  bottom: $nav-bottom;
  width: $nav-width;
  background-color: $color-nav-background;
  border-top: $nav-border-top-size solid $color-white;

  ul {
    padding: 0;
    margin: 0 0 0 20px;

    li {
      float: left;
      list-style: none;

      a {
        display: block;
        font-size: $nav-font-size;
        letter-spacing: $nav-letter-spacing;
        text-transform: uppercase;
        color: $color-nav-text;
        padding: $nav-item-padding;
        text-decoration: none;
        -webkit-transition:color 300ms;
        transition:color 300ms;

        &:active,
        &:focus,
        &:hover {
          color: $color-nav-text-hover;
        }
      }

      &:first-child,
      &:first-child a {
        padding-left: 0;
      }

      &:last-child,
      &:last-child a {
        padding-right: 0;
      }

      &.current a {
        color: $color-white;
      }
    }

    &:after {
      @include clearfix;
    }
  }
}