section {

  width: 100%;

  h2 {
    position: relative;
    font-size: 2.75em;
    margin-bottom: 24px;
    color: $color-text;
  }
}

.applications {
  display: none;
}

.about-us {
  .about-block {
    text-align: justify;
  }
}

.services {
  background-color: $color-services-bg;

  h2 {
    color: $color-black;
  }
}

.contacts {
  background-color: $color-contacts-bg;

  #mapholder {
    display: block;
    width: $contacts-map-width;
    height: $contacts-map-height;
    margin-top: 5px;

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .container {
    padding: 10px 20px;
  }

  .applications {
    display: block;
  }
}

@media (min-width: $screen-sm-min) {
  .container {
    padding: 20px 20px;
  }
}

@media (min-width: $screen-md-min) {
  .container {
    padding: 40px 20px;
  }
}

@media (min-width: $screen-lg-min) {
  .container {
    padding: 60px 30px;
  }
}